
- name: Configurar DHCP e DNS no servidor arq
  hosts: arq
  become: yes

  tasks:
    # 1. Instalar DHCP
    - name: Instalar servidor DHCP
      apt:
        name: isc-dhcp-server
        state: present

    # 2. Copiar configuração DHCP (arquivo estático)
    - name: Copiar dhcpd.conf
      copy:
        src: "../files/dhcpd.conf"
        dest: /etc/dhcp/dhcpd.conf
      notify: restart dhcp

    # 3. Configurar interface para DHCP
    - name: Configurar interface para DHCP
      lineinfile:
        path: /etc/default/isc-dhcp-server
        regexp: '^INTERFACESv4='
        line: 'INTERFACESv4="eth1"'
        state: present

    # 4. Instalar DNS
    - name: Instalar Bind9 (DNS)
      apt:
        name: bind9
        state: present

    # 5. Copiar configurações DNS (arquivos estáticos)
    - name: Copiar named.conf.options
      copy:
        src: "../files/named.conf.options"
        dest: /etc/bind/named.conf.options

    - name: Copiar named.conf.local
      copy:
        src: "../files/named.conf.local"
        dest: /etc/bind/named.conf.local

    # 6. Copiar zonas DNS (arquivos estáticos)
    - name: Copiar zona direta
      copy:
        src: "../files/db.ana.anderson.devops"
        dest: /etc/bind/db.ana.anderson.devops

    - name: Copiar zona reversa
      copy:
        src: "../files/db.56.168.192"
        dest: /etc/bind/db.56.168.192

    # 7. Reiniciar serviços
    - name: Reiniciar Bind9
      service:
        name: bind9
        state: restarted

  handlers:
    - name: restart dhcp
      service:
        name: isc-dhcp-server
        state: restarted
