# 1 Pacotes (Hostcliente)

- name: Instalar firefox-esr e xauth
  apt:
    name:
      - firefox-esr
      - xauth
    state: present

# SSH (Exportação do X11)

- name: Ajustar servidor SSH para permitir X11 forwarding
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?X11Forwarding'
    line: 'X11Forwarding yes'
    state: present
  notify: restart sshd

# 3 Montagem do NFS

- name: Instalar autofs
  apt:
    name: autofs
    state: present
- name: Criar ponto de montagem /var/nfs
  file:
    path: /var/nfs
    state: directory
- name: Configurar autofs principal (auto.master)
  lineinfile:
    path: /etc/auto.master
    line: '/var/nfs /etc/auto.nfs'
    state: present
    insertafter: EOF
- name: Configurar mapeamento direto do autofs (auto.nfs)
  blockinfile:
    path: /etc/auto.nfs
    create: yes
    block: |
      nfs -fstype=nfs,rw,soft,intr arq:/dados/nfs
  notify: restart autofs
