# 1 Servidor de Aplicação (Apache3)

- name: Instalar apache2
  apt:
    name: apache2
    state: present
- name: Criar e transferir index.html
  copy:
    content: |
      <html>
      <head><title>Projeto DevOps</title></head>
      <body>
        <h1>Projeto 01 - DevOps com Vagrant e Ansible</h1>
        <p>Infraestrutura provisionada por: ana (20241380031) e anderson (20241380008)</p>
        <p>Servidor: app.ana.anderson.devops</p>
      </body>
      </html>
    dest: /var/www/html/index.html
    mode: '0644'

  # 2 Montagem de NFS

  - name: Instalar autofs
  apt:
    name: autofs
    state: present
- name: Criar ponto de montagem /var/nfs
  file:
    path: /var/nfs
    state: directory
- name: Configurar autofs principal (auto.master)
  lineinfile:
    path: /etc/auto.master
    line: '/var/nfs /etc/auto.nfs'
    state: present
    insertafter: EOF
- name: Configurar mapeamento direto do autofs (auto.nfs)
  blockinfile:
    path: /etc/auto.nfs
    create: yes
    block: |
      nfs -fstype=nfs,rw,soft,intr arq:/dados/nfs
  notify: restart autofs
