all:
  hosts:
    arq:
      ansible_host: 192.168.56.131
      ansible_user: vagrant
      ansible_ssh_private_key_file: .vagrant/machines/arq/virtualbox/private_key
      ansible_python_interpreter: /usr/bin/python3
    db:
      ansible_host: 192.168.56.108
      ansible_user: vagrant
      ansible_ssh_private_key_file: .vagrant/machines/db/virtualbox/private_key
      ansible_python_interpreter: /usr/bin/python3
    app:
      ansible_host: 192.168.56.138
      ansible_user: vagrant
      ansible_ssh_private_key_file: .vagrant/machines/app/virtualbox/private_key
      ansible_python_interpreter: /usr/bin/python3
    cli:
      ansible_host: 192.168.56.50
      ansible_user: vagrant
      ansible_ssh_private_key_file: .vagrant/machines/cli/virtualbox/private_key
      ansible_python_interpreter: /usr/bin/python3
